.app-list {
    padding: 30px 30%;
    min-width: 200px;
    height: calc(100% - 60px); 
}

.app-item {
    height: 80px;
    padding: 10px;
    border-bottom: 1px solid rgba(99, 99, 99, 0.2);
    margin-top: 20px;
    overflow-y: auto;
}

.app-item a:hover {
    background: #0069a1;;
}

.app-item a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    width: 80%;
    background: #0077b6;
    margin: auto;
    height: 30px;
    line-height: 30px;
}

.app-description {
    margin-top: 10px;
    color: rgb(124, 122, 122);
    font-size: 12px;
}
