.App {
  text-align: center;
}

.App-header {
  margin: 0 30%;
  height: 50px;
  line-height: 50px;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: rgb(92, 91, 91);
  border-bottom: 1px solid rgba(99, 99, 99, 0.2);
}

.content {
  min-height: calc(100vh - 50px);
}
